
@media print {
    body {
      width: 80mm;
      margin: 0;
      padding: 5%;
    }
    #printable {
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 12px; 
    }
  }
  

  #printable {
    width: 100%;
    margin: 0;
    padding: 5%;
    color: green;
    font-size: 12px; 
  }
  